@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;


.header {
  grid-template-rows: 1fr 1fr;

  height: 100vh;
  padding: 0 20px 40px;

  background-color: #000;
  background-image: url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include grid;

  &__navigation {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: start;

    @include for-tablet {
      grid-column: 1/7;
    }

    @include for-desktop {
      grid-column: 1/13;
    }
  }

  &__title {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: end;

    @include for-tablet {
      grid-column: 1/7;
    }

    @include for-desktop {
      grid-column: 1/13;
    }
  }


  @include for-tablet {
    padding: 0 72px 64;
  }

   @include for-desktop {
    padding: 0 120px 64;
  }
}
