.address {
  font-weight: 400;
  line-height: 140%;

  &__label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #9fadc2;
  }

  &__content {
    margin-bottom: 24px;
    font-size: 14px;
    color: #3e3e3e;
    text-decoration: none;
  }
}
