@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;

.address {
  font-weight: 400;
  line-height: 140%;

  &__label {
    margin-bottom: 8px;
    font-size: 14px;
    color: $address-label;
  }

  &__content {
    cursor: pointer;

    display: inline-block;

    margin-bottom: 24px;

    font-size: 14px;
    color: $address-content;
    text-decoration: none;

    @include hover(color, $address-link-hover);
  }
}
