@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;

.article {
  &__paragraph {
    @extend %p;

    font-weight: 700;
    line-height: 140%;
    color: $text-color;

    @include for-tablet {
      font-size: 24px;
    }
  }
}
