@use '../utils/extends' as *;
@use '../utils/variables' as *;

.button {
  &__wrapper {
    text-align: center;
  }

  &__link {
    display: inline-block;

    width: 280px;
    height: 56px;
    padding: 0 48px;
    border: 3px solid $base-color;
    border-radius: 40px;

    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    color: $button-link;
    text-align: center;
    text-decoration: none;

    background-color: $base-color;

    transition: background-color 0.3s ease-in-out;

    &:hover {
      color: $base-color;
      background-color: transparent;
    }

    &:active{
      color: $button-link;
      background-color: $button-active;
    }
  }
}
