@use '../utils/mixins' as *;
@use '../utils/extends' as *;
@use '../utils/variables' as *;

.navigation {
  @extend %navigation-flex;

  padding: 24px 0;

  &__wrapper {
    @extend %navigation-flex;

    gap: 24px;
  }

  &__logo {
    width: 125px;

    @include for-tablet {
      width: 188px;
    }
  }

  &__icons {
    width: 24px;

    @include for-tablet {
      width: 32px;
    }
  }
}
