@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;

.title {
  @extend %h1;

  font-size: 32px;
  line-height: 100%;
  color: $heading-color;
  letter-spacing: -1.5px;

  &--decorated::before {
    content: url('../images/Sound\ waves.svg');

    display: block;

    width: 48px;
    height: 58px;
    margin-bottom: 16px;

    @include for-tablet {
      width: 63px;
    }
  }

  &--secondary {
    @extend %h2;

    margin-bottom: 48px;
    font-size: 32px;
    line-height: 48px;

    @include for-tablet {
      margin-bottom: 64px;
      font-size: 48px;
    }
  }

  @include for-tablet {
    font-size: 40px;
  }

  @include for-desktop {
    font-size: 48px;
  }
}
