$base-color: #292929;
$text-color: #292929;
$heading-color: #292929;
$link-color: #292929;
$link-hover: #0e2453;
$address-label: #9fadc2;
$address-content: #3e3e3e;
$input-bg: #f8f8fa;
$form-border-color: #d5d7de;
$menu-bg: #e8eff9;
$button-link: #fff;
$button-active: #111;
$address-label: #9fadc2;
$address-content: #3e3e3e;
$address-link-hover: #0e2453;
